{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/auth/style.css' %}">
{% endblock %}

{% block content %}
<div class="text-center signup">
    Signup
</div>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-control {% if field.errors %} errors {% endif %} ">
        {{field.label_tag}}
        {{field}}
        {% for error in field.errors %}
        <span class="error">{{error}}</span>
        {% endfor %}
    </div>
    {% endfor %}
    {% if messages %}
        {% for m in messages %}
            <p class="alert alert-danger" role="alert">{{m}}</p>
        {% endfor %}
    {% endif %}
    <button type="submit">Register</button>
    <div class="text-center login"> Your don't have an account <a href="{% url 'register' %}">Register</a></div>
</form>


{% endblock content %}