{% extends 'base.html' %}
  {% load static %}
  {% block style %}
    <link rel="stylesheet" href="{% static 'css/auth/style.css' %}">
  {% endblock %}

{% block content %}
  <div class="text-center signup">
    Signup
  </div>
  <form action="/auth/register/" method="post" novalidate >
    {% csrf_token %}
    {% for field in form %}
      <div class="form-control {% if field.errors %} errors {% endif %} ">
        {{field.label_tag}}
        {{field}}
        {% for error in field.errors %}
          <span class="error" >{{error}}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">Register</button>
    <div class="text-center login"> Your already have an account <a  href="{% url 'login' %}">Login</a></div>
  </form>
{% endblock content %}